<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="website restaurant for dicoding submission"
		/>

		<title>Beranda | YELPing you find a restaurant.</title>
	</head>
	<body>
		<a id="skip-main" href="#main-content" class="btn shadow reader-focus">
			Pergi ke Konten Utama
		</a>

        <custom-navigation>
            <navigation-link id="nav-beranda" href="#">Beranda</navigation-link>
            <navigation-link id="nav-favorit" href="#/favorit">Favorit</navigation-link>
            <navigation-link
                href="https://github.com/mbishram"
                target="_blank"
                rel="noopener"
            >
                Tentang
            </navigation-link>
        </custom-navigation>

        <!-- "Skip to Content" link point to span below because
        sr will skip the first h2 when it's pointing to main -->
        <span class="sr-only" id="main-content" tabindex="-1" aria-label="konten utama"></span>
        <main></main>

        <custom-footer></custom-footer>
	</body>
</html>
