<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home | YELPing you pick a restaurant.</title>
	</head>
	<body>
		<button
			id="nav-button"
			class="btn btn-icon btn-secondary nav-btn"
			type="button"
			aria-label="tombol navigasi"
		>
			<i class="bi bi-list"></i>
		</button>
		<nav>
			<ul>
				<li>
					<h1>
						<img
							src="./images/yelping-logo.svg"
							alt="logo yelping you pick a restaurant."
						/>
					</h1>
				</li>
				<li><a href="/">Home</a></li>
				<li><a href="#">Favorite</a></li>
				<li>
					<a href="https://github.com/mbishram" target="_blank">
						About Us
					</a>
				</li>
			</ul>
		</nav>
	</body>
</html>
