@import "../../../styles/basic-import";

:host{
    .nav-btn {
        position: fixed;
        z-index: 999;
        top: 0.25rem;
        right: 0.25rem;

        @media only screen and (min-width: $screen-md) {
            display: none;
        }
    }

    nav {
        position: fixed;
        inset: 0;
        z-index: -1;
        background: white;
        padding: 7rem 1.5rem 1.5rem;
        box-shadow: $shadow;

        opacity: 0;
        top: 2rem;
        transition: opacity $transition-default, top $transition-default,
        z-index $transition-default;

        @media only screen and (min-width: $screen-md) {
            opacity: 1;
            top: 1.25rem;
            right: unset;
            bottom: unset;
            z-index: 998;
            width: unset;
            height: 4.5rem;
            padding: 0 2rem;
            border-radius: $border-rad-sm;

            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                cursor: pointer;
            }
        }

        &.open {
            opacity: 1;
            top: 0;
            z-index: 998;

            @media only screen and (min-width: $screen-md) {
                top: 1.25rem;
            }

            a {
                cursor: pointer;
            }
        }

        h1 {
            margin-bottom: 3.5rem;

            @media only screen and (min-width: $screen-md) {
                margin-bottom: 0;
            }

            img {
                height: 3rem;

                @media only screen and (min-width: $screen-md) {
                    height: 2rem;
                }
            }
        }

        ul {
            @media only screen and (min-width: $screen-md) {
                display: flex;
                column-gap: 2rem;
            }
        }
    }
}
