.reader-focus {
	width: unset !important;
	background: white;
	position: fixed;
	left: 1rem;
    right: 1rem;
	border: none;
	z-index: 1000;

	transition: top $transition-default, opacity $transition-default !important;
	top: -3rem;
	opacity: 0;

    @media only screen and (min-width: $screen-md) {
        left: 1.5rem;
        right: unset;
    }

	&:focus {
		top: 1rem;
		opacity: 1;

        @media only screen and (min-width: $screen-md) {
            top: 1.25rem;
        }
	}

}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}

.hidden-anchor {
    display: none;
}

.container {
	max-width: $screen-sm;
	margin-left: auto;
	margin-right: auto;

	@media only screen and (min-width: $screen-sm) {
		padding: 0 1rem;
	}

	@media only screen and (min-width: $screen-md) {
		padding: 0 1.5rem;
		max-width: $screen-md-max;
	}

	@media only screen and (min-width: $screen-lg) {
		max-width: $screen-lg;
	}
}

.btn {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: $link-min-size;
    min-width: $link-min-size;
    border-radius: $border-rad-sm;
    border: none;
    padding: 0.8rem 2rem;
    transition: background-color $transition-default;
    font-weight: bold;

    &:hover {
        border: none;
    }

    @media only screen and (min-width: $screen-md) {
        width: unset;
    }
}

.btn-icon {
    font-size: 2.5rem;
    padding: 0;
    height: $link-min-size;
    width: $link-min-size;
}

.btn-primary {
    color: $color-dark;
    background: $color-primary;

    &:hover {
        background: $color-primary-light;
        color: $color-dark;
    }
}

.btn-secondary {
    color: $color-dark;
    background: $color-secondary;

    &:hover {
        background: $color-secondary-light;
        color: $color-dark;
    }
}

.btn-gray{
    color: $color-dark;
    background: $color-gray-3;

    &:hover {
        background: $color-gray-4;
        color: $color-dark;
    }
}

.card {
    border-radius: $border-rad;
    box-shadow: $shadow;
}

