#cta {
	margin-bottom: 4.5rem;
	color: $color-light;
	display: flex;
	align-items: flex-end;

	height: 24rem;
	background-image: $img-darken,
		url("../public/images/heros/hero-image_1.jpg");
	background-size: cover;
	background-position: top center;
	border-radius: $border-rad $border-rad 0 0;

	.container {
		width: 100%;
		padding: 0 1rem;

		.btn {
			position: relative;
			bottom: -1.5rem;
		}

		h2 {
			max-width: 16rem;
		}
	}
}
