#hero {
	padding-top: 5rem;

	.hero-img {
		width: 100%;
		height: 24rem;
		background-image: linear-gradient(
				rgba(0, 0, 0, 0.5),
				rgba(0, 0, 0, 0.5)
			),
			url("../public/images/heros/hero-image_2.jpg");
		background-size: cover;
		background-position: center;
		border-radius: 0 0 $border-rad $border-rad;
	}

	.container {
		padding: 0 1rem;

		.btn {
			position: relative;
			bottom: -1.5rem;
		}

		.description {
			display: grid;
			grid-template-columns: 1fr;
			gap: 1rem;
			align-items: flex-end;

			@media only screen and (min-width: $screen-md) {
				grid-template-columns: auto 1fr;
			}

			h2 {
				max-width: 27rem;
			}
		}
	}
}
