#hero {
	padding-top: 5rem;
	margin-bottom: 1.5rem;
	color: $color-light;
	display: flex;
	align-items: flex-end;

	height: 30rem;
	background-image: $img-darken,
		url("../public/images/heros/hero-image_2.jpg");
	background-size: cover;
	background-position: center;
	border-radius: 0 0 $border-rad $border-rad;

	.container {
		padding: 0 1rem;

		@media only screen and (min-width: $screen-md) {
			padding: 0 1.5rem;
		}

		.btn {
			position: relative;
			bottom: -1.5rem;
		}

		.description {
			display: grid;
			grid-template-columns: 1fr;
			gap: 1rem;
			align-items: flex-end;

			@media only screen and (min-width: $screen-md) {
				grid-template-columns: auto 1fr;
			}

			h2 {
				max-width: 22rem;
			}
		}
	}
}
