*:focus-visible {
	outline: 3px solid $color-secondary;
}

html {
	color: $color-dark;
	font-size: 14px;
	font-family: Manrope, sans-serif;
	background: white;

	@media only screen and (min-width: $screen-md) {
		font-size: 16px;
	}
}

body {
	min-height: 100vh;
	z-index: 1;
}

a {
	border-bottom: 1px solid $color-gray-3;
	transition: color $transition-default, border-bottom $transition-default;

	&:hover {
		color: $color-secondary;
		border-bottom: 1px solid $color-secondary;
	}
}

p {
	line-height: $line-height;
}

h2 {
	line-height: $line-height;

	&:focus {
		outline: 0;
	}
}
