*:focus-visible {
	outline: 3px solid $color-transparent;
}

html {
	color: $color-dark;
	font-size: 14px;
	font-family: Manrope, sans-serif;
	background: white;

	@media only screen and (min-width: $screen-md) {
		font-size: 16px;
	}
}

// Make web components that are using shadow dom default to display block
:host {
    display: block;
}

body {
	min-height: 100vh;
	z-index: 1;
}

a {
	border-bottom: 1px solid $color-gray-3;
	transition: color $transition-default, border-bottom $transition-default;

	&:hover {
		color: $color-primary;
		border-bottom: 1px solid $color-primary;
	}
}

p {
	line-height: $line-height + 0.2;
}

h2 {
	line-height: $line-height;

	&:focus {
		outline: 0;
	}
}

img {
    object-fit: cover;
}

div[slot="content"] {
    padding: 0 1rem;

    @media only screen and (min-width: $screen-sm) {
        padding: 0;
    }
}

label {
    display: block;
}

input, textarea {
    border: 1px solid $color-gray-4;
    border-radius: $border-rad-sm;
    width: 100%;
    padding: 0.75rem 1rem;
    min-width: $link-min-size;
    min-height: $link-min-size;
}

textarea {
    resize: none;
}

