.nav-btn {
	position: fixed;
	z-index: 999;
	top: 0.5rem;
	right: 0.5rem;
}

nav {
	position: fixed;
	right: 0;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	background: white;
	padding: 7rem 2rem 2rem;
	box-shadow: $shadow;

	opacity: 0;
	top: 2rem;
	transition: opacity $transition-default, top $transition-default,
		z-index $transition-default;

	@media only screen and (min-width: $screen-md) {
		padding: 5rem 2rem 2rem;
		width: 18rem;
		height: 27.5rem;
		border: 1px solid $color-gray-3;
		border-radius: $border-rad;
		right: 0.5rem;
	}

	&.open {
		opacity: 1;
		top: 0;
		z-index: 998;

		a {
			cursor: pointer;
		}

		@media only screen and (min-width: $screen-md) {
			top: 0.5rem;
		}
	}

	li {
		font-size: 1.8rem;
		margin-bottom: 2rem;

		&:first-child {
			margin-bottom: 3.5rem;
		}
		img {
			height: 3rem;
		}
		a {
			border: none;

			&:hover {
				border: none;
			}
		}
	}
}
