#restaurant {
	padding: 3rem 0;

	h2 {
		padding: 0 1rem 0;
		margin-bottom: 2rem;
		max-width: 16rem;

		@media only screen and (min-width: $screen-sm) {
			padding: 0;
		}
	}

	#list-restaurant {
		display: grid;
		gap: 2rem;

		@media only screen and (min-width: $screen-md) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media only screen and (min-width: $screen-lg) {
			grid-template-columns: repeat(3, 1fr);
		}

		.restaurant-image {
			width: 100%;
			height: 20rem;
			object-fit: cover;
			border-radius: $border-rad;
		}

		section {
			position: relative;
			background: white;
			padding: 1rem;
			top: -2rem;

			@media only screen and (min-width: $screen-md) {
				padding: 1.5rem;
			}

			a {
				display: inline-flex;
				align-items: center;
				min-height: $link-min-height;
				min-width: 3rem;
			}

			p:last-child {
				margin-top: 1rem;
			}

			i {
				border-left: 1px solid $color-gray-3;
				margin-left: 0.4rem;
				padding-left: 0.4rem;
			}
		}
	}
}
