// Margin
.mt-xs, .my-xs, .m-xs {
    margin-top: $spacing-xs;
}

.mb-xs, .my-xs, .m-xs {
    margin-bottom: $spacing-xs;
}

.ml-xs, .mx-xs, .m-xs {
    margin-left: $spacing-xs;
}

.mr-xs, .mx-xs, .m-xs {
    margin-right: $spacing-xs;
}

.mt-sm, .my-sm, .m-sm {
    margin-top: $spacing-sm;
}

.mb-sm, .my-sm, .m-sm {
    margin-bottom: $spacing-sm;
}

.ml-sm, .mx-sm, .m-sm {
    margin-left: $spacing-sm;
}

.mr-sm, .mx-sm, .m-sm {
    margin-right: $spacing-sm;
}

.mt-md, .my-md, .m-md {
    margin-top: $spacing-md;
}

.mb-md, .my-md, .m-md {
    margin-bottom: $spacing-md;
}

.ml-md, .mx-md, .m-md {
    margin-left: $spacing-md;
}

.mr-md, .mx-md, .m-md {
    margin-right: $spacing-md;
}

.mt-lg, .my-lg, .m-lg {
    margin-top: $spacing-lg;
}

.mb-lg, .my-lg, .m-lg {
    margin-bottom: $spacing-lg;
}

.ml-lg, .mx-lg, .m-lg {
    margin-left: $spacing-lg;
}

.mr-lg, .mx-lg, .m-lg {
    margin-right: $spacing-lg;
}

// Padding
.pt-xs, .py-xs, .p-xs {
    padding-top: $spacing-xs;
}

.pb-xs, .py-xs, .p-xs {
    padding-bottom: $spacing-xs;
}

.pl-xs, .px-xs, .p-xs {
    padding-left: $spacing-xs;
}

.pr-xs, .px-xs, .p-xs {
    padding-right: $spacing-xs;
}

.pt-sm, .py-sm, .p-sm {
    padding-top: $spacing-sm;
}

.pb-sm, .py-sm, .p-sm {
    padding-bottom: $spacing-sm;
}

.pl-sm, .px-sm, .p-sm {
    padding-left: $spacing-sm;
}

.pr-sm, .px-sm, .p-sm {
    padding-right: $spacing-sm;
}

.pt-md, .py-md, .p-md {
    padding-top: $spacing-md;
}

.pb-md, .py-md, .p-md {
    padding-bottom: $spacing-md;
}

.pl-md, .px-md, .p-md {
    padding-left: $spacing-md;
}

.pr-md, .px-md, .p-md {
    padding-right: $spacing-md;
}

.pt-lg, .py-lg, .p-lg {
    padding-top: $spacing-lg;
}

.pb-lg, .py-lg, .p-lg {
    padding-bottom: $spacing-lg;
}

.pl-lg, .px-lg, .p-lg {
    padding-left: $spacing-lg;
}

.pr-lg, .px-lg, .p-lg {
    padding-right: $spacing-lg;
}

// Typography
.text-lg {
	font-size: $font-lg;
}

.text-md {
	font-size: $font-md;
}

.text-sm {
    font-size: $font-sm;
}

// Text Color
.text-dark {
	color: $color-dark;
}

.text-light {
    color: $color-light;
}

.text-primary {
	color: $color-primary;
}

.text-secondary {
	color: $color-secondary;
}

.text-gray-1 {
	color: $color-gray-1;
}

.text-gray-2 {
	color: $color-gray-2;
}

.text-gray-3 {
	color: $color-gray-3;
}

.text-gray-4 {
    color: $color-gray-4;
}

// Alignment
.text-center {
    text-align: center;
}

// Shadow
.shadow {
	box-shadow: $shadow;
}

// Links
.no-underline {
	border: none;

	&:hover {
		border: none;
	}
}

// Border Radius
.border-radius-md {
    border-right: $border-rad !important;
}

.border-radius-sm {
    border-radius: $border-rad-sm !important;
}
