// Colors
$color-primary: #0ac278;
$color-primary-light: #47cc97;
$color-primary-dark: #078f59;
$color-secondary: #c2901d;
$color-secondary-light: #ccaa5c;
$color-secondary-dark: #8f6a15;
$color-dark: #252626;
$color-gray-1: #494949;
$color-gray-2: #959595;
$color-gray-3: #c1c1c1;
$color-light: #e6e8e8;

// Transition
$transition-default: 300ms ease;

// Font Sizes
$font-lg: 2rem;
$font-md: 1.5rem;

// Text Spacing
$line-height: 1.4em;

// Border Radius
$border-rad-sm: 8px;
$border-rad: 14px;

// Shadow
$shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);

// Breakpoints
$screen-sm: 365px;
$screen-md: 768px;
$screen-md-max: 854px;
$screen-lg: 1124px;
$screen-lg-max: 1282px;

// General
$hover-opacity: 0.7;
