// Colors
$color-primary: #0ac278;
$color-secondary: #c2901d;
$color-dark: #252626;
$color-gray-1: #494949;
$color-gray-2: #959595;
$color-gray-3: #c1c1c1;
$color-light: #e6e8e8;

// Transition
$transition-default: 400ms ease;

// Font Sizes
$font-lg: 3rem;
$font-md: 1.5rem;
$font-sm: 0.8rem;

// Components
$hover-opacity: 0.7;
