@import "basic-import";

body {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
	opacity: 0;

    main {
        flex-grow: 1;
        display: grid;
        align-content: center;
    }
}
