@import "../../../styles/basic-import";

:host {
    #hero {
        padding-top: 5rem;
        margin-bottom: 1.5rem;
        color: $color-light;
        display: flex;
        align-items: flex-end;

        height: 30rem;
        background-size: cover;
        background-position: center;
        border-radius: 0 0 $border-rad $border-rad;

		// Responsive image
		background-image: $img-darken,
		url("../../../public/images/heros/hero-image_2-small.jpg");
		@media only screen and (min-width: $screen-md) {
			background-image: $img-darken,
			url("../../../public/images/heros/hero-image_2-large.jpg");
		}

        .container {
            padding: 0 1rem;

            @media only screen and (min-width: $screen-md) {
                padding: 0 1.5rem;
            }

            .btn {
                position: relative;
                bottom: -1.5rem;
            }

            .description {
                display: grid;
                grid-template-columns: 1fr;
                gap: 1rem;
                align-items: flex-end;
                margin-bottom: 1rem;

                @media only screen and (min-width: $screen-md) {
                    grid-template-columns: auto 1fr;
                }

                h2 {
                    max-width: 22rem;
                }
            }
        }
    }

    div[slot="header"] {
        max-width: 16rem;
    }

    #cta {
        margin-bottom: 4.5rem;
        color: $color-light;
        display: flex;
        align-items: flex-end;

        height: 24rem;
        background-size: cover;
        background-position: top center;
        border-radius: $border-rad $border-rad 0 0;

		// Responsive image
		background-image: $img-darken,
		url("../../../public/images/heros/hero-image_1-small.jpg");
		@media only screen and (min-width: $screen-md) {
			background-image: $img-darken,
			url("../../../public/images/heros/hero-image_1-large.jpg");
		}

		.container {
            width: 100%;
            padding: 0 1rem;

            @media only screen and (min-width: $screen-md) {
                padding: 0 1.5rem;
            }

            .btn {
                position: relative;
                bottom: -1.5rem;
            }

            h2 {
                max-width: 16rem;
                margin-bottom: 1rem;
            }
        }
    }
}
